body{
    font-family: 'Inter', sans-serif;
}
.m button{
    display: none;
}
.hs{
    display: flex;
}
.hs img{
    margin-top: 45px;
    margin-left: 165px;
    width: 25px;
    height: 25px;

}
.ff button{
    border-radius: 43px;
    background: #34C759;
    border: none;
    padding: 25px 57px;
}
.hs p{
    margin-top: 45px;
    margin-left: 20px;
    color: green;
    width: 173.16px;
    height: 10.46px;
}
.m ul{
    display: flex;
    margin-top: 25px;
}
.m ul li a:hover{
    color: #34C759;
    padding-bottom: 5px;
    border-bottom: 1px solid #34C759;
}
.m ul li:hover{
    transform: scale(1.1);
    color: #34C759;
}
.m li{
    list-style-type: none;
    margin-right: 45px;
}
.m li a{
    cursor: pointer;
    font-family:  "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    transition: all .2s;
    line-height: 90px;
}
.textt{
    padding-bottom: 95px;
}
.textt h1{
    margin-top: 105px;
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 60px; /* 200% */
letter-spacing: 6px;
}

.vse{
    background: url("../img/salat.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    
}
body{
    background: url("../img/salat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}
.watch p{
    color: white;
}
.near {
    color: white;
}
.call t{
    color: white;
}
.text{
    color: white;
    text-align: center;
}
.wh{
    color: white;
}
.gr{
    color: gray;
    margin-bottom: 162px;
}
.waatch{
    text-align: center;
}
.near{
    text-align: center;
}
.call{
    text-align: center;
}
.text button{


background: #34C759;
border-radius: 43px;
color: var(--black, #1A1A1A);
text-align: center;
font-family: Helvetica Neue;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 3.6px;
}
.m ul li{
    color: white;
}
.waatch img{

    margin-bottom: 13px;
    margin-top: 70px;
}
.near img{

    margin-bottom: 13px;
    margin-top: 70px;
}
.call img{

    margin-bottom: 13px;
    margin-top: 70px;
}
hr{
    background-color: white;
}

.textt p{
    color: #A6A6A6;
    margin-top: 63px;
    margin-bottom:  90px;
}
hr{
    height: 3px;
}
.textt{
    background-color: #252525;
    border-radius: 50px;
    text-align: center;
}
.textt button{

    border-radius: 50%;
    padding: 15px;
    background: none;
    border: 3px solid #4D4D4D;
    margin-bottom: 74px;
}
.textt .right{
    margin-left: 61px;
    margin-bottom: 90px;
}
.textt .left{
    margin-left: 34px;
    margin-right: 61px;
    margin-bottom: 90px;
}
.p{
    background: #34C759;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: black;
    padding: 17px;
}
.p h1{
    font-family:  "Roboto";
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
letter-spacing: -0.275px;
text-transform: capitalize;

}

.ff h1{
    margin-top: 81px;
    margin-bottom: 16px;
    color: #FFF;
text-align: center;
font-family: 'Roboto';
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 7.2px;
text-transform: capitalize;
}

.ff .health{
    margin-bottom: 40px;
    color: #FFF;
text-align: center;
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: -0.2px;
}
.c{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: white;
    padding: 17px;
    }
    .c h1{
        font-family:  "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    }
.f{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: white;
    padding: 17px;
}
.f h1{
    font-family:  "Roboto";
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
letter-spacing: -0.275px;
text-transform: capitalize;
}
.t{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: white;
    padding: 17px;
}
.t h1{
    font-family:  "Roboto";
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
letter-spacing: -0.275px;
text-transform: capitalize;
}

.row .pick{
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    color: white;
}

.ff img{
    margin-bottom: 16px;
}

.h{
    max-width: 56px;
}
.pick{
    color: #D9D9D9;
text-align: center;
font-family:  "Roboto";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 90px; /* 250% */
letter-spacing: 7.2px;
text-transform: capitalize;

}
.carts-images .in{
    border-radius: 6px;
background: #252525;
box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
margin-right: 30px;
margin-bottom: 30px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 34px;
}
.carts-images .b img{
    float: left;
}
.carts-images .b{
    display: flex;
    align-items: flex-end;
}
.carts-images .b button{
    justify-content: flex-end;
    color: var(--dark-gray, #252525);
text-align: center;
font-family: Helvetica Neue;
font-size: 10px;
font-style: normal;
font-weight: 900;
line-height: 40px; /* 400% */
letter-spacing: 2px;
text-transform: uppercase;
background-color: #34C759;
padding: 2px 32px;
position: relative;
left: 120px;
bottom: -10px;
}
.carts-images .dish{
    margin-top: 120px;
    color: #D9D9D9;
text-align: center;
font-family: Helvetica Neue;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 90px; /* 250% */
letter-spacing: 7.2px;
}

.carts-images h2{
    color: #D9D9D9;
font-family: Helvetica Neue;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 93.75% */
margin-top: 29px;
}
.ttt{
    color: #D9D9D9;
    text-align: center;
    font-family:  "Roboto";
    font-size: 76px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px; /* 250% */
    letter-spacing: 7.2px;
    text-transform: capitalize;

}
.in{ 
    border: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.in button{
background: #262626;
border: 2px solid #303030;
border-radius: 30px;
}
.in p{
    max-width: 290px;
    color: white;
}
.in h1{
    color: white;
}
.in img{
    margin-top: 90px;
}
.in .b{ 
    display: flex;
}

.chef h1{
    margin-top: 120px;
    margin-bottom: 68px;
    text-align: center;
    color: white;
}
.chef .m {
    display: flex;
    margin-bottom: 30px;
}
.chef .n {
    display: flex;
    margin-bottom: 30px;
}
.chef .x { 
    display: flex;
    margin-bottom: 30px;
}
.teg p{
    color: white;
    margin-left: 20px;
}

.q{
    margin-left: 30px;
    margin-right: 30px;
}

.recipes h1{
    color: #D9D9D9;
text-align: center;
font-family: Helvetica Neue;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 90px; /* 250% */
letter-spacing: 7.2px;
margin-top: 120px;
margin-bottom: 90px;
}

.recipes .back{
    background:  url('../img/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 8px;
}
.recipes .back button{
    color: gray;
text-align: center;
font-size: 10px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 250% */
letter-spacing: 1.25px;
text-transform: uppercase;
margin: 0 auto;
text-align: center;
opacity: 0.2;
border: none;
margin-bottom: 65px;
margin-top: 60px;

}
.recipes .back .date{
    color: #FFF;
font-family: Helvetica Neue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
}

.recipes .back .text-date{
    color: #FFF;
text-align: center;
font-family: Helvetica Neue;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 166.667% */
}
.m{
    color: white;
    border-radius: 6px;

}
.mm{
    color: white;
    background: url('../img/placeholder\ \(9\).png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mmm{
    color: white;
    border-radius: 6px;
background:green;
box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
}

.mm button{
    color: #FFF;
text-align: center;
font-family: Helvetica Neue;
font-size: 10px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 250% */
letter-spacing: 1.25px;
text-transform: uppercase;
background-color: rgb(26,26,26);
}
.mmm button{
    color: #FFF;
text-align: center;
font-family: Helvetica Neue;
font-size: 10px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 250% */
letter-spacing: 1.25px;
text-transform: uppercase;
background-color: rgb(26,26,26);
}
.po{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.fl{
    display: flex;
}
.fl button{
    margin-left: 30px;
    margin-bottom: 25px;
}

.fl p{
    margin-left: 15px;
}
.fl span{
    justify-content: flex-end;
}
.fl .spaa{
    margin-left: 202px;
}
.fl .spa{
    margin-left: 30px;
}
.pi{
    fill: #252525;
filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.10));
color: white;
}
.pp{
    color: white;
}
.ppp{
    color: white;
}
.crf{
    text-align: center;
}
.butr{
    color: white;
text-align: center;
font-family: Helvetica Neue;
font-size: 10px;
font-style: normal;
font-weight: 900;
line-height: 40px; /* 400% */
letter-spacing: 2px;
text-transform: uppercase;
background-color: #303030;
border-radius: 18px;
}

/*------------Social---------------*/
.social{
    padding-bottom: 90px;
}
.social h1{
    color: #D9D9D9;
text-align: center;
font-family: Helvetica Neue;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 90px; /* 250% */
letter-spacing: 7.2px;
text-align: center;
margin-top: 120px;
margin-bottom: 90px;
}
.dop .date{
    color: #737373;
font-family: Helvetica Neue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
padding-left: 30px;
padding-right: 30px;


}
.dop .bot img{
    max-width: 120px;
}
.dop .author_text{
    color: var(--primary, #34C759);
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.dop .text_bot{
    color: rgba(255, 255, 255, 0.70);
font-family: Helvetica Neue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
padding-left: 30px;
padding-right: 30px;
}
.dop .text_bot{
    overflow: scroll;
    max-height: 120px;
}

.dop{
    background-color: #252525;
    margin-right: 30px;
    border-radius: 12px;
}
.dop .top{
    padding-top: 31px;
    padding-left: 31px;
    padding-right: 25px;
    padding-bottom: 23px;
    display: flex;
}
.dop .top p{
    margin-top: 10px;
    margin-left: 20px;
    min-width: 106px;
    margin-right: 34px;
    color: #BFBFBF;
font-family: Helvetica Neue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
}

.dop .top .follow{   
    color: #fff;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px; /* 400% */
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px 19px;
    border: 1px solid gray;
    border-radius: 23px;
    background-color: #252525;
    opacity: 0.5;
}

.dop .top .znach{
    padding-top: 0px;
    border: none;
    background: none;
    color: #737373;
    font-size: 35px;
}
.close{
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: inherit;
    color: #fff;
    border: none;
}
.mod{
    
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 50px;
    display: none;
}
.mod .items{
    margin: 0 auto;
}
.mod .items li{
    list-style-type: none;
}
.menu-btn{
    color: #fff;
    border: none;
    font-size: 25px;
    float: right;
    margin-top: 30px;
    background-color: inherit;
}
@media(max-width:900px){
    .m ul{
        display: none;
    }
    .m button{
        display: block;
    }

    .text h1{
        font-size: 55px;
    }
}
.con{
    margin: 0 auto;
    text-align: center;
    margin-top: 13px;
}
.con p{
    color: #737373;
}
.kon{
    
    text-align: center;
    display: flex;
    padding-top: 41px;
    margin:  0 auto;
    justify-content: center;

   
}
.kon p{
    color: #34C759;
  margin-top: 5px;
    margin-left: 9px;

}
@media(max-width:900px){
    body{
        margin: 0 auto;
        text-align: center;
    }
    .p{
        width: 50px;
    }
}
html, body{
    overflow-x: hidden;
}

